<nav>
    <ul>
        <li><a href="/product/list">Product List</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
        <li><a href="/cart/manage">Cart</a></li>
        <li><a href="/order/history">Order</a></li>
    </ul>
</nav>